{% trans_default_domain 'FOSUserBundle' %}
<span class="modal-content" style="padding:15px;  display:inline-block">
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    </br>
    <div class="pull-right">
        <input class="btn btn-success" type="submit" value="{{ 'change_password.submit'|trans }}" />
        <input class="btn btn-primary" value="Profile" onclick="location.href='./'" type="button">
    </div>
</form>
</span>
