{% trans_default_domain 'FOSUserBundle' %}
<span class="modal-content" style="padding:15px;  display:inline-block">
<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    </br>
    <div style="margin-bottom:15px" class="pull-right">
        <input class='btn btn-success' type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        <input class='btn btn-primary' value="Profile" onclick="location.href='./'" type="button">
    </div>
</form>
</span>
