{% extends "::base.html.twig" %}


{% block body %}
<span class="modal-content" style="padding:15px;  display:inline-block">
Thank you! </br>
Report was sended.</br>
<a href='../'>On main</a>
</span>
{% endblock %}